
.container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe022;
    font-size: 18px;
}

.infoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separator {
    height: 100px;
    width: 1px;
    margin: 0 15px;
    background-color: black;
}

.love {
    font-family: 'beatles';
    font-size: 40px;
    margin-top: 20px;
}
