
.container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe022;
    font-size: 18px;
}

.infoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separator {
    height: 120px;
    width: 1px;
    margin: 0 15px;
    background-color: black;
}

.love {
    font-family: 'beatles';
    font-size: 40px;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) { 
    .container {
        font-size: 14px;
    }

    .infoBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .separator {
        display: none;
    }

    .phones {
        margin-top: 10px;
    }

    .contact {
        margin-top: 5px;
    }

    .copyright {
        margin-top: 10px;
    }
}