
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;    
}

.form {
    width: 600px;
}

.title {
    font-size: 35px;
    margin-bottom: 30px;
}

.header {
    padding: 0 15px;    
    background-color: #ffe022;
}

@media only screen and (max-width: 800px) { 
    .form {
        width: 100%;
    }
}