.button {
    display: inline-block;
    border: none;    
    margin: 0;
    text-decoration: none;    
    color: #ffffff;
    background-color: rgb(170, 188, 191);    
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;               
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover {
    opacity: 0.8;
}

.link {        
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;    
    color: #ffffff;
    background-color: rgb(170, 188, 191);    
    font-size: 18px;
    cursor: pointer;        
}

.size-m {
    height: 50px;
    width: 140px;
}