.container .button {
    display: inline-block;
    border: none;    
    margin: 0;
    text-decoration: none;    
    color: #ffffff;
    background-color: rgb(170, 188, 191);    
    font-size: 18px;
    cursor: pointer;
    text-align: center;    
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container .button:focus {
    outline: none    
}

.container {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;             
}

.container:hover {
    opacity: 0.8;
}

.link {        
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;    
    color: #ffffff;
    background-color: rgb(170, 188, 191);    
    font-size: 18px;
    cursor: pointer;  
    opacity: 1;
    transition: opacity 0.2s ease-in-out;      
}

.link:hover {
    opacity: 0.8;
}

.size-m {
    height: 50px;
    width: 140px;
}

.link a {
    text-decoration: none;    
    color: inherit;
}

.link a:hover {
    text-decoration: none;    
    color: inherit;
}