.container {    
    opacity: 1;
    transition: opacity 0.2s ease-in-out;             
    display: flex;
    align-items: center;
    background-color: rgb(170, 188, 191);   
    padding: 0 8px;     
}

.container:hover {
    opacity: 0.8;
}

.container .button {
    display: inline-block;
    border: none;    
    margin: 0;
    padding: 0;
    text-decoration: none;    
    color: #ffffff;
    background-color: inherit;    
    font-size: 18px;
    cursor: pointer;
    text-align: center;    
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container .button:focus {
    outline: none    
}

.link {        
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    margin: 0;    
    color: #ffffff;
    background-color: rgb(170, 188, 191);    
    font-size: 18px;
    cursor: pointer;  
    opacity: 1;
    transition: opacity 0.2s ease-in-out;      
}

.link:hover {
    opacity: 0.8;
}

.size-m {
    height: 50px;    
}

.link > a {
    text-decoration: none;    
    color: inherit;
    display: flex;
    align-items: center;
}

.link > a:hover {
    text-decoration: none;    
    color: inherit;
}

.spinner {
    color: white;
    margin-left: 10px;
}