.container {
    display: flex;
    flex-direction: column;
}

.block {
    margin: 30px 0;        
    height: calc(100vh - 40px);   
    width: 100%;
    padding: 20px 0;
}

.image {}

.header {    
    width: 100%;
    padding: 20px 20px;
    background-color: #e4f1f8;
    font-family: 'Pacifico-Regular';
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;    
    position: relative;
}

.main .image {    
    width: 100vw;    
    /* height: calc(100vh / 3 * 2); */
    object-fit: cover;
    object-position: 50% 70%;
}

.main .title {
    font-size: 45px;    
}

.main .date {
    font-size: 24px;    
}

.iwillgo {
    width: 150px;
}

.submarineContainer {
    position: absolute;
    width: 700px; /* TODO: add media query */
    display: flex;
    justify-content: center;
    z-index: 1;
}

.submarine {
   width: 100%;
}

.submarineButton {
    border-radius: 20px;    
    border: 4px solid #bd2130;
    background-color: #dc3545;
}

.controls {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-family: 'Pacifico-Regular';
    padding: 21px 20px 15px 24px;
    margin-left: 24px;
    border-radius: 70px;
}

.where {    
    padding-top: 40px;
    background-color: #17a2b8;
    /* color: #ffc107; */
    color: aliceblue;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.wishlist {
    
}

.contacts {
    
}

.carContainer {
    position: absolute;
    width: 500px;
    top: 40%;
    left: 0;
}

.carContainer .text {
    font-family: 'beatles';
    font-size: 28px;
    top: 31px;
    left: 140px;
    position: absolute;
    color: #ffe022;
}

.car {
    width: 100%;
}