.container {
    display: flex;
    flex-direction: column;
}

.block {
    margin: 30px 0;        
    height: calc(100vh - 40px);   
    width: 100%;
    padding: 20px 0;
}

.image {}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin-top: 10px;
}

.main .image {    
    width: 100vw;    
    height: calc(100vh / 3 * 2);
    object-fit: cover;
    object-position: 50% 70%;
}

.main .title {
    font-size: 40px;
}

.main .date {
    font-size: 24px;
}

.iwillgo {
    width: 150px;
}

.wishlist {
    
}

.contacts {
    background-color: yellow;
}
