.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addresses {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 50px;
    padding: 0 30px;
    color: #ffe022;
}

.title {
    font-size: 24px;
    font-weight: bold;    
}

.map {    
    width: 100%;
    height: 500px;
}

.mapPlaceholder {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleTitle {
    font-family: 'beatles';
    font-size: 50px;
}