.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addresses {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 10px;
    padding: 0 30px;
    color: #ffe022;
    margin-top: 40px;
    font-size: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;    
}

.map {    
    width: 100%;
    height: 500px;
}

.mapPlaceholder {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleTitle {
    font-family: 'beatles';
    font-size: 50px;    
}

.iWillGo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.goButton {
    font-size: 24px;
    width: 200px;
    font-weight: 600;
}

.shuttle, .party {
    width: 400px;
}

@media only screen and (max-width: 800px) {
    .middleTitle {
        display: none;
    }

    .addresses {
        font-size: 15px;
        padding: 0 15px;        
        flex-direction: column;        
    }

    .shuttle, .party {
        width: 100%;
    }

    .party {
        margin-top: 30px;
    }

    .goButton {
        margin-top: 30px;
    }

    .title {
        line-height: 32px;
        margin-bottom: 5px;
    }

    .map {    
        width: 100%;
        height: 400px;
    }
}