.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addresses {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 10px;
    padding: 0 30px;
    color: #ffe022;
    margin-top: 40px;
}

.title {
    font-size: 24px;
    font-weight: bold;    
}

.map {    
    width: 100%;
    height: 500px;
}

.mapPlaceholder {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleTitle {
    font-family: 'beatles';
    font-size: 50px;    
}

.iWillGo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.goButton {
    font-size: 24px;
    width: 200px;
}

@media only screen and (max-width: 800px) {
    .middleTitle {
        display: none;
    }

    .addresses {
        font-size: 15px;
        padding: 0 15px;        
    }
}