.container {
    font-size: 16px;    
}

.container a {
    text-decoration: none;
    color: inherit;        
    transition: opacity 0.2s ease-in-out;
}
  
.container a:hover {
    opacity: 0.6;    
    color: inherit;
    text-decoration: none;
}