.container {
    font-size: 16px;        
    position: relative;
}

.image {
    background-image: url(../../assets/buttonSubmarine/submarineButton.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1px;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: width 0.6s, height 0.6s;    
}

.container a {
    text-decoration: none;
    color: inherit;            
}
  
.container:hover {    
    color: inherit;
    text-decoration: none;
}

.container:hover .image {
    opacity: 1;
    width: 80px;
    height: 70px;
}