.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation .link {
    margin-left: 15px;
}

.block {
    margin: 30px 0;        
    height: 1000px;    
}

.image {}

.main {
    background-color: red;
}

.main .image {
    width: 100%;
}

.story {
    background-color: blue;
}

.wishlist {
    background-color: green;
}

.contacts {
    background-color: yellow;
}
