.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 24px;
}

.link {
    margin-left: 15px;
}

.submarine {
    width: 150px;
    object-fit: contain;
}
