.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;      
    font-family: 'Pacifico-Regular';  
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.title {
    font-size: 40px;
}

.link {
    margin-left: 25px;
}

.submarine {
    width: 150px;
    object-fit: contain;
}

.hashtag {
    font-family: 'Montserrat';
    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    .navigation {
        display: none;        
    }

    .title {
        font-size: 30px;
    }
}
