.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 50px;
    font-family: 'beatles';
}

.grid {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: calc((100% - 40px) / 3);    
}


.image {
    object-fit: contain;
    width: 100%;
    height: 300px;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

.image:hover {
    opacity: 0.8;
}

.itemTitle {
    font-size: 20px;
    line-height: 30px;
    height: 60px;
    margin-top: 10px;
    text-align: center;
}

.reserveButton {
    margin-top: 10px;
}

.reserved {
    pointer-events: none;
    opacity: 0.5;
}