body {
  margin: 30px 80px 0 80px;
  font-family: 'Montserrat', 'Pacifico-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.was-validated .form-control:valid {
  background-image: none;
  border-color: #CED4D9;
  color: unset;
}

.was-validated .form-control:invalid {
  background-image: none;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
  color: inherit;
}

@font-face {
  font-family: 'Pacifico-Regular';
  src: local('Pacifico-Regular'), url(./assets/fonts/Pacifico-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-Regular.ttf') format("truetype");
  font-weight: normal;  
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-Medium.ttf') format("truetype");
  font-weight: 200;  
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format("truetype");
  font-weight: bolder;  
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-Bold.ttf') format("truetype");
  font-weight: bold;  
}